@font-face {
  font-family: "TBC Regular";
  src: url("../fonts/TBCX-Regular.eot");
  src: url("../fonts/TBCX-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TBCX-Regular.woff2") format("woff2"),
    url("../fonts/TBCX-Regular.woff") format("woff"),
    url("../fonts/TBCX-Regular.ttf") format("truetype"),
    url("../fonts/TBCX-Regular.svg#TBCX-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TBC Contractica Bold";
  src: url("../fonts/TBCContractica-Bold.eot");
  src: url("../fonts/TBCContractica-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TBCContractica-Bold.woff2") format("woff2"),
    url("../fonts/TBCContractica-Bold.woff") format("woff"),
    url("../fonts/TBCContractica-Bold.ttf") format("truetype"),
    url("../fonts/TBCContractica-Bold.svg#TBCContractica-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TBC Contractica Black";
  src: url("../fonts/TBCContractica-Black.eot");
  src: url("../fonts/TBCContractica-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TBCContractica-Black.woff2") format("woff2"),
    url("../fonts/TBCContractica-Black.woff") format("woff"),
    url("../fonts/TBCContractica-Black.ttf") format("truetype"),
    url("../fonts/TBCContractica-Black.svg#TBCContractica-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TBC Contractica Light";
  src: url("../fonts/TBCContractica-Light.eot");
  src: url("../fonts/TBCContractica-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TBCContractica-Light.woff2") format("woff2"),
    url("../fonts/TBCContractica-Light.woff") format("woff"),
    url("../fonts/TBCContractica-Light.ttf") format("truetype"),
    url("../fonts/TBCContractica-Light.svg#TBCContractica-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
