@media screen and (max-width: 1050px) {
  .width {
    max-width: 90%;
  }

  /* description section */
  .description-content-wrapper h1 {
    font-size: 26px;
  }

  /* courses section */
  .courses-content-wrapper {
    width: 80%;
  }

  .course-card {
    max-width: 330px;
  }

  .course-card > div > div {
    margin-top: 3rem;
  }

  /* partners section */
  .partners-slider {
    justify-content: center;
  }

  .slider-arrow {
    display: none;
  }

  /* partners section */
  .partners-section {
    padding-bottom: 4rem;
  }

  .partner-logos {
    flex-direction: column;
    height: 260px;
    row-gap: 30px;
  }

  .partners-slider {
    margin-top: 40px;
  }

  /* accordion section */
  .accordion-content-wrapper {
    margin: 0 auto;
  }

  .accordion-content-wrapper h4 {
    grid-area: 1 / span 2;
  }

  .accordion-title {
    grid-area: 1;
  }

  .accordion-content-wrapper > span {
    grid-area: 3/1;
    text-align: start;
  }
}

@media screen and (max-width: 850px) {
  /* shared */
  .width {
    max-width: 80%;
  }

  .section-heading,
  .accordion-content-wrapper h4 {
    font-size: 20px;
  }

  .additional-info-btn {
    font-size: 18px;
  }

  /* header */
  .header-content-wrapper nav {
    display: none;
  }

  .sidebar-menu,
  .burger-menu-icon {
    display: flex;
  }

  /* title section */
  .title-content-wrapper h2 {
    font-size: 36px;
  }

  .title-content-wrapper h3 {
    font-size: 30px;
  }

  /* description section */
  .description-content-wrapper h1 {
    font-size: 23px;
    margin-bottom: 1.7rem;
  }

  /* courses section */
  .course-card {
    max-width: 300px;
  }

  .courses-content-wrapper h4 {
    margin-bottom: 2rem;
  }

  /* partners section */
  .partners-section {
    padding-bottom: 2rem;
  }

  .partners-section h4 {
    margin-bottom: 0px;
  }

  /* accordion section */
  .accordion-section {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .accordion-cards-container li {
    padding: 1.3rem 0;
  }

  .accordion-cards-container li > div h3 {
    font-size: 16px;
  }

  /* footer */
  .footer-container {
    padding: 2.5rem 0;
  }

  .footer-container button {
    width: 140px;
    height: 35px;
    font-size: 14px;
  }
}

@media screen and (max-width: 770px) {
  body {
    padding-top: 4rem;
  }

  /* header */
  .site-header {
    height: 4rem;
  }

  .header-logo-wrapper img {
    width: 80%;
  }

  /* title section */
  .title-content-wrapper h2 {
    font-size: 30px;
  }

  .title-content-wrapper h3 {
    font-size: 27px;
  }

  /* description section */
  .description-content-wrapper h1 {
    font-size: 19px;
  }

  /* courses section */
  .courses-section {
    padding-top: 1.5rem;
  }

  .courses-cards-container {
    justify-content: center;
  }

  .course-card {
    max-width: 80%;
    min-width: 300px;
  }

  .course-card > div h5 {
    height: 30px;
  }

  .course-card > div > div {
    margin-top: 2rem;
  }

  /* footer section */
  .footer-container {
    grid-template-columns: auto;
    row-gap: 10px;
  }

  .social-icons-wrapper {
    grid-area: 2/2;
    justify-content: flex-start;
  }

  .copyright {
    grid-area: 4 / span 2;
    margin: 0px;
  }

  .footer-container a:last-child {
    grid-area: 2/1;
    justify-self: flex-start;
  }

  .footer-container button {
    width: 106px;
    height: 34px;
    font-size: 13px;
  }
}

@media screen and (max-width: 530px) {
  /* shared css */
  .section-heading {
    font-size: 18px;
  }

  /* title section */
  .title-content-wrapper h2 {
    font-size: 23px;
  }

  .title-content-wrapper h3 {
    font-size: 20px;
  }

  /* description section */
  .description-content-wrapper {
    padding: 30px 0;
  }

  .description-content-wrapper h1,
  .additional-info-btn {
    font-size: 16px;
  }

  /* accordion */

  .accordion-content-wrapper {
    padding: 1.87rem 0rem;
  }

  .accordion-content-wrapper h4 {
    font-size: 17px;
  }

  .accordion-cards-container li > div h3 {
    font-size: 14px;
    padding: 1rem 0;
  }

  .accordion-answers-container h6 {
    margin-bottom: 0.3rem;
  }

  .accordion-answers-container p {
    font-size: 12px;
  }
}
