body {
  padding-top: 5.25rem;
}

:root {
  overflow: scroll;
  --dark-gray-bg: rgba(26, 30, 31);
  --light-gray-txt: rgb(244, 244, 244);
  --medium-gray-bg: rgb(43, 43, 43);
  --medium-gray-btn: rgb(170, 170, 170);
  --blue-color: rgb(0, 174, 243);
  --black-bg: rgb(22, 22, 22);
  --gray-slider-color: rgb(232, 230, 230);
  --white-btn: rgb(255, 255, 255);
  --font-light: 'TBC Contractica Light', Arial, Helvetica, sans-serif;
  --font-black: 'TBC Contractica Black', Arial, Helvetica, sans-serif;
  --font-regular: 'TBC Regular', sans-serif;

}

.d-flex {
  display: flex;
}

.width {
  max-width: 980px;
  width: 100%;
}

.hidden {
  display: none;
}

/* about and questions section */
.additional-info-btn {
  color: var(--blue-color);
  font-size: 20px;
  line-height: 1.4em;
  white-space: nowrap;
  /* font-weight: 700; */
  font: 20px/1.4em 'TBC Contractica Bold', Arial, Helvetica, sans-serif;
  transition: color 0.4s ease 0s;
}

.additional-info-btn:hover {
  color: var(--medium-gray-btn);
}

/* partners and questions section */
.section-heading {
  font: 24px/1.6em var(--font-regular);
  color: #dbdbdb;
}