body {
  padding-top: 5.25rem;
}
:root {
  --dark-gray-bg: rgba(26, 30, 31);
  --bg-scrl: rgb(34, 34, 34);
  --light-gray-txt: rgb(244, 244, 244);
  --medium-gray-bg: rgb(43, 43, 43);
  --medium-gray-btn: rgb(170, 170, 170);
  --blue-color: rgb(0, 174, 243);
  --black-bg: rgb(22, 22, 22);
  --gray-slider-color: rgb(232, 230, 230);
  --white-btn: rgb(255, 255, 255);
  --footer-terms-hover-color: rgb(170, 170, 170);
  --footer-btn-hover-bg-color: rgb(213, 213, 213);
  --footer-btn-color: rgb(255, 255, 255);
  --footer-btn-bg-color: rgb(0, 174, 243);
  --footer-btn-bg-color-hover: rgb(43, 43, 43);
}

.d-flex {
  display: flex;
}

.width {
  max-width: 980px;
  width: 100%;
}
.hidden {
  display: none;
}
.show {
  display: inline-block;
}
/* about and questions section */
.additional-info-btn {
  color: var(--blue-color);
  font-size: 20px;
  line-height: 1.4em;
  white-space: nowrap;
  font-weight: 700;
  transition: color 0.4s ease 0s;
}
.additional-info-btn:hover {
  color: var(--medium-gray-btn);
}
/* partners and questions section */
.section-heading {
  font-size: 24px;
  line-height: 1.6em;
  color: var(--light-gray-txt);
}
